
<ion-view>
	<ion-nav-title>
		<span class="title_our">Our</span> <span class="title_way">way</span>
	</ion-nav-title>
	  <ion-content>
		<form name="createRouteForm" novalidate>
			<div class="list padding create_route_page_task_list_div">
				<ion-item class="create_route_page_task_item" ng-repeat="task in route.tasks">
					<div class="item item-divider create_route_page_task_item_title">
						Task {{task.routeStep}}
					</div>
					<label class="item item-input item-select create_route_page_task_item_type_label">
						<div class="input-label">
						  Task type
						</div>
						<select class="create_route_page_task_item_type_select" ng-model="task.type">
						  <option value="move">Move</option>
						  <option value="photo">Take photo</option>
						  <option value="word">Write word</option>
						  <option value="photoword">Take photo and write word</option>
						</select>
					</label>
					<div class="item create_route_page_instructions_textarea_div">
						<textarea class="task_textarea create_route_page_instructions_textarea" placeholder="Instructions shown to the user"  ng-model="task.instructions" value="{{task.instructions}}"></textarea>
						<button class="button button-block button-assertive icon ion-close-circled" ng-click="showDeleteConfirm($index)">
							Delete task
						</button>
						<div class="button-bar">
							<button class="button icon ion-chevron-up create_route_page_move_task_button create_route_page_move_task_button_left" ng-click="moveTaskUp($index)" ng-disabled="$index == 0">
								Move up
							</button>
							<button class="button icon ion-chevron-down create_route_page_move_task_button" ng-click="moveTaskDown($index)"  ng-disabled="$index == route.tasks.length - 1">
								Move down
							</button>
						</div>
					</div>
				</ion-item>
			</div>
			<div class="padding create_route_page_bottom_part_div">
				<button class="button button-block button-positive" ng-click="addTask()">
				  Add another task
				</button>
				<label class="item item-input create_route_page_route_name_label">
					<span class="input-label">Route name</span>
					<input class="create_route_page_route_name_input" type="text" placeholder="Type a route name" ng-model="route.name" name="name" required>
				</label>
				<label class="item item-input item-select create_route_page_route_theme_label">
					<div class="input-label">
					  Theme
					</div>
					<select class="create_route_page_route_theme_select" ng-model="route.theme">
					  <option value="Architecture and urban design">Architecture and urban design</option>
					  <option value="eSkills">eSkills</option>
					  <option value="Mobility and transport">Mobility and transport</option>
					  <option value="Social inclusion in cities">Social inclusion in cities</option>
					  <option value="Urban innovation and creative industries">Urban innovation and creative industries</option>
					  <option value="Urban planning">Urban planning</option>
					</select>
				</label>
				
				<!--<div class="padding">
					<p ng-show="createRouteForm.name.$error.required">* Route name is required</p>
				</div>-->
				
				<button class="button button-block create_route_page_save_button" ng-click="saveRoute()" ng-disabled="createRouteForm.$invalid">
				  Save to phone
				</button>
			</div>
		</form>
	  </ion-content>
</ion-view>
