<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--<ion-nav-bar>
	<ion-nav-back-button class="button-clear">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view>-->
	<ion-view>
	<ion-nav-title>
		<span class="title_our">Our</span> <span class="title_way">way</span>
	</ion-nav-title>
	  <ion-content class="padding">
	  <div class="row">
		<div class="col text-center" ng-if="routeStep == 0">
			<h4 class="route_start_normal_text">Welcome to</h4>
			<h4 class="route_start_name_text">{{name}} Route!</h4>
			
			<a class="button button-block button-positive" ng-click="nextStep()">
				Let's begin!
			</a>
		</div>
		<div class="col text-center" ng-repeat="step in steps" ng-if="routeStep == step.routeStep">
			<div class="route_task_page_top_div">
				<div><span class="route_task_page_top_step_name_span">{{name}}</span><span class="route_task_page_top_step_span">Step {{$index + 1}}/{{steps.length}}</span></div>
				<div class="route_task_page_top_progress">
					<div class="route_task_page_top_progress_step" style="width: {{($index + 1) / steps.length * 100}}%;"></div>
				</div>
				<div class="route_task_page_top_task_number_div">Task {{$index + 1}}</div>
			</div>
			
			<div ng-if="step.type == 'move'">
				<p class="pink_text">Move</p>
				<img class="route_task_page_step_image" src="img/move.png">
				<div class="route_task_page_step_instructions">{{step.instructions}}</div>			
			</div>
			<div ng-if="step.type == 'photo'">
				<p class="light_blue_text">Take photo</p>
				<img class="route_task_page_step_image" src="img/photo.png">
				<div class="route_task_page_step_instructions">{{step.instructions}}</div>
				<button class="button take_photo_button" ng-click="takePicture()">
					<div class="take_photo_button_img_div">
						<img src="img/photo.png" class="take_photo_button_img">
					</div>
					<div class="take_photo_button_text_div">Take photo</div>
				</button>
			</div>
			
			
			<div ng-if="step.type == 'word'">
				<p class="green_text">Write Word</p>
				<img class="route_task_page_step_image" src="img/write.png">
				<div class="route_task_page_step_instructions">{{step.instructions}}</div>
				<label class="item-input-wrapper write_word_input_wrapper"><input type="text" class="write_word_input" placeholder="Type word" ng-change="wordChange(word)" ng-model="word"></label>
			</div>
			
			<div ng-if="step.type == 'photoword'">
				<p class="aquamarine_text">Take photo and write word</p>
				<img class="route_task_page_step_image" src="img/writephoto.png">
				<div class="route_task_page_step_instructions">{{step.instructions}}</div>
				<button class="button take_photo_button" ng-click="takePicture()">
					<div class="take_photo_button_img_div">
						<img src="img/photo.png" class="take_photo_button_img">
					</div>
					<div class="take_photo_button_text_div">Take photo</div>
				</button>
				<label class="item-input-wrapper write_word_input_wrapper"><input type="text" class="write_word_input" placeholder="Type word" ng-change="wordChange(word)" ng-model="word"></label>
			</div>
			
			<a class="button button-block button-positive route_task_page_next_step_button" ng-click="nextStep()">
				<i class="icon ion-ios-arrow-thin-right route_task_page_arrow"></i>
			</a>
			
			<div ng-if="step.type == 'photo'">
				<div class="item item-image">
					<img ng-src="{{lastPhotoURI}}" style="max-width: 320px">
				</div>
				<!--<p>{{lastPhotoURI}}</p>-->
			</div>
		</div>
		<div class="col text-center" ng-if="routeStep > steps.length">
			<h4 class="route_finish_title">Congratulations!</h4>
			<img class="route_task_page_step_image" src="img/route_finished.png"/>
			<h4>You are now at the end of the route!</h4>
			
			<div class="list route_finish_question_list">
				<div class="item route_finish_item" ng-repeat="item in quantitativeQuestions">
					<div class="route_finish_question_text_div">{{item.question}}</div>
					<div class="item range route_finish_range_div">
					  <img src="img/sad.png"/>
					  <input type="range" min="1" max="100" value="{{item.value}}" ng-change="quantitativeQuestionChange($index, item.value)" ng-model="item.value">
					  <img src="img/happy.png"/>
					</div>
				</div>
				<div class="item route_finish_item" ng-repeat="item in qualitativeQuestions">
					<div class="route_finish_question_text_div">{{item.question}}</div>
					<textarea class="task_textarea route_finish_text_area" placeholder="{{item.placeholder}}" ng-change="qualitativeQuestionChange($index, item.answer)" ng-model="item.answer" value="{{item.answer}}"></textarea>
				</div>
			</div>
			
			<!--<button class="button button-large icon-left ion-share button-royal" ng-click="shareExperience()">
				Share Route & Feedback
			</button>-->
			<div class="padding-bottom">
			<button class="button button-block button-positive route_finish_done_button" ng-click="finishRoute()">
				Done
			</button>
			</div>
		</div>
	  </div>
	  </ion-content>
	</ion-view>
<!--<ion-nav-view>-->