<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--<ion-nav-bar>
	<ion-nav-back-button class="button-clear">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view>-->
	<ion-view>
	<ion-nav-title>
		<span class="title_our">Our</span> <span class="title_way">way</span>
	</ion-nav-title>
	  <ion-content class="padding">
	  <div class="row">
		<div class="col text-center" ng-if="routeStep == 0">
			<h4>Welcome to {{name}} Route!</h4>
			
			<a class="button button-block button-royal" ng-click="nextStep()">
				Let's begin!
			</a>
		</div>
		<div class="col text-center" ng-repeat="step in steps" ng-if="routeStep == step.routeStep">
			<h4>{{step.instructions}}</h4>
			
			<div ng-if="step.type == 'photo'">
				<button class="button icon-left ion-camera button-dark" ng-click="takePicture()">
					Take Photo
				</button>
			</div>
			
			<label class="item item-input" ng-if="step.type == 'word'">
				<input type="text" placeholder="Type Word" ng-change="wordChange(word)" ng-model="word">
			</label>
			
			<div ng-if="step.type == 'photoword'">
				<label class="item item-input padding-bottom"> 
					<input type="text" placeholder="Type Word" ng-change="wordChange(word)" ng-model="word">
				</label>
				<button class="button icon-left ion-camera button-dark marginextra-top" ng-click="takePicture()">
					Take Photo
				</button>
			</div>
			
			<a class="button button-block button-royal" ng-click="nextStep()">
				<i class="icon ion-arrow-right-a"></i>
			</a>
			
			<div ng-if="step.type == 'photo'">
				<div class="item item-image">
					<img ng-src="{{lastPhotoURI}}" style="max-width: 100%">
				</div>
				<!--<p>{{lastPhotoURI}}</p>-->
			</div>
		</div>
		<div class="col text-center" ng-if="routeStep > steps.length">
			<h4>You are now at the end of the route.</h4>
			<h4>Fine achievement!</h4>
			
			<h4>Still a few feedback questions</h4>
			<p>0 = no opinnion, 1 = agree, 2 = somewhat agree, 3 = somewhat disagree, 4 = disagree</p>
			
			<div class="list">
				<div class="item" ng-repeat="item in quantitativeQuestions">
					<div class="item item-text-wrap">{{item.question}}</div>
					<div class="range-slider">
					  <input class="range-slider__range" type="range" min="0" max="4" step="1" value="{{item.value}}" ng-change="quantitativeQuestionChange($index, item.value)" ng-model="item.value">
					  <span class="range-slider__value">{{item.value}}</span>
					</div>
				</div>
				
				<div class="item" ng-repeat="item in qualitativeQuestions">
					<div class="item item-text-wrap">{{item.question}}</div>
					<div class="list list-inset">
						<textarea class="task_textarea" placeholder="{{item.placeholder}}" ng-change="qualitativeQuestionChange($index, item.answer)" ng-model="item.answer" value="{{item.answer}}"></textarea>
					</div>
				</div>
			</div>
			
			<br>
			<!--<button class="button button-large icon-left ion-share button-royal" ng-click="shareExperience()">
				Share Route & Feedback
			</button>-->
			<div class="padding-bottom">
			<button class="button icon-left ion-checkmark-round button-royal" ng-click="finishRoute()">
				Done
			</button>
			</div>
		</div>
	  </div>
	  </ion-content>
	</ion-view>
<!--<ion-nav-view>-->