<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!--<ion-nav-bar>
	<ion-nav-back-button class="button-clear">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view>-->
	<ion-view>
		<ion-nav-title>
			<span class="title_our">Our</span> <span class="title_way">way</span>
		</ion-nav-title>
	  <ion-content class="padding">
	  <div class="list list-inset">
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search by name" ng-model="findFilter">
		  </label>
	  </div>
	  <div class="list">
		  <label class="item item-input item-select">
			<div class="input-label">
			  Sort by
			</div>
			<select ng-model="orderProp">
			  <option value="name">Name</option>
			  <option value="theme">Theme</option>
			  <option value="-created">Newest</option>
			</select>
		  </label>
	  </div>
	  <div class="item item-divider">
		Available Routes
	  </div>
	  <ion-list>
		<ion-item class="item-icon-right" ng-repeat="route in routes | filter:findFilter | orderBy:orderProp" type="item-text-wrap" ng-click="download(route)">
		{{route.name}}
		<i class="icon ion-ios-download-outline "></i>
		<span class="item-note">
			{{route.theme}} theme
		</span>
		</ion-item>
	  </ion-list>
	  </ion-content>
	</ion-view>
<!--<ion-nav-view>-->