<ion-view>
	<ion-nav-title>
		<span class="title_our">Our</span> <span class="title_way">way</span>
	</ion-nav-title>
  <ion-nav-buttons side="left">
    <button ng-click="goToAmsterdam();" class="button button_map"><div class="button_map_div"><span class="button_map_span"></span>Amsterdam</div></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="showOnlineMap();" class="button button_map"><div class="button_map_div"><span class="button_map_span"></span><img class="button_map_icon" height="21" src="img/map_pinpoint.png"> Locate me</div></button>
  </ion-nav-buttons>
  
  <ion-content data-tap-disabled="true">
	<!--<div id="map" data-tap-disabled="true"></div>-->
    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" tiles="tiles" ng-if="map"></leaflet>
  </ion-content>
</ion-view>
