<ion-view>
	<ion-nav-title>
		<span class="title_our">Our</span> <span class="title_way">way</span>
	</ion-nav-title>
	<ion-content>
		<div ng-if="privateRoutes">
			<div class="item item-divider">
				Your Private Routes
			</div>
			<div class="list card">
				<ion-item ng-repeat="route in privateRoutes" class="item-text-wrap">
					<h2>{{route.name}}</h2>
					<span class="item-note">
						{{route.theme}} theme
					</span>
					<!--<button class="button button-block icon ion-compose button-calm" ng-click="editRoute(route)">
						Edit
					</button>-->
					<button class="button button-block icon ion-share button-positive" ng-click="shareRoute(route)">
						Share to others
					</button>
				</ion-item>
				<div class="item" ng-if="privateRoutes.length == 0">
					None
				</div>
			</div>
		</div>
		<div class="item item-divider">
			Finished Routes
		</div>
		<div class="list card">
			<ion-item ng-repeat="route in routes">
				<h2>{{route.name}}</h2>
				<span class="item-note">
					{{route.theme}} theme
				</span>
				<button class="button button-block icon ion-share button-royal" ng-click="shareExperience(route)" ng-if="route.shared == undefined">
					Share Route & Feedback
				</button>
				<div class="item item-text-wrap" ng-if="route.shared != undefined">
					Route & feedback has been shared
				</div>
			</ion-item>
			<div class="item" ng-if="routes.length == 0">
				None yet
			</div>
		</div>
	</ion-content>
</ion-view>

