
<ion-view view-title="Lose Your Way - Routes">
	<ion-nav-buttons side="secondary">
      <button class="button button-dark" ng-click="showIntro()">
        <i class="icon ion-information"></i> Intro
      </button>
    </ion-nav-buttons>
  <ion-content>
  <div class="item item-divider">
		<div class="row">
			<div class="col">
				<button class="button button-dark button-small" ng-click="findRoutes()">
					<i class="icon ion-search"></i> Find routes online
				</button>
			</div>
			<div class="col right">
				<button class="button button-dark button-small" ng-click="createRoute()">
					<i class="icon ion-compose"></i> Create route
				</button>
			</div>
		</div>
	</div>
    <div class="item item-divider">
		To Explore
	</div>
    <ion-list>
		<ion-item class="item-icon-right" ng-repeat="route in routes" type="item-text-wrap" ng-click="startRoute('{{route._id}}', '{{route.name}}')">
		{{route.name}}
		<i class="icon ion-chevron-right icon-accessory"></i>
		<span class="item-note">
			{{route.theme}} theme
		</span>
		</ion-item>
	</ion-list>
	<div class="item" ng-if="routes.length == 0">
		All done
	</div>
	<div class="item item-divider">
		Finished Routes
	</div>
	<ion-list>
		<ion-item class="item-icon-right" ng-repeat="route in finishedRoutes" type="item-text-wrap" ng-click="startRoute('{{route._id}}', '{{route.name}}')">
		{{route.name}}
		<i class="icon ion-chevron-right icon-accessory"></i>
		<span class="item-note">
			{{route.theme}} theme
		</span>
		</ion-item>
	</ion-list>
	<div class="item" ng-if="finishedRoutes.length == 0">
		None yet
	</div>

  </ion-content>
</ion-view>
