<ion-view view-title="Social">
  <ion-content>
    <div class="list card">
	<div class="item item-body" ng-click="openModal()">
		<p>Temppi</p>
		<span class="item-note">
			Theme: TemppiTeema
		</span>
		
		<button class="button icon-left ion-share button-royal" ng-click="shareExperience()">
				Share Postcard
		</button>
	</div>
    <ion-item class="item-icon-right" ng-repeat="route in finishedRoutes" type="item-text-wrap" ng-click="startRoute('{{route._id}}', '{{route.name}}')">
		{{route.name}}
		<i class="icon ion-chevron-right icon-accessory"></i>
		<span class="item-note">
			{{route.theme}}
		</span>
	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
		<button class="button" ng-click="shareAnywhere()">Share anywhere</button>
		<button class="button" ng-click="shareViaTwitter('some message', null, 'https://www.thepolyglotdeveloper.com')">Share on Twitter</button>
    </ion-content>
  </ion-modal-view>
</script>
