<ion-view view-title="Lose Your Way - Social">
  <ion-content>
  		<ion-list>
			<div class="item item-divider">
				Finished Routes
			</div>
		</ion-list>
    <div class="list card">
    <ion-item ng-repeat="route in routes">
		<h2>{{route.name}}</h2>
		<span class="item-note">
			{{route.theme}} theme
		</span>			
		<div ng-if="route.satisfaction < 50">
			<p><i class="icon ion-sad-outline"></i> {{route.satisfaction}} points</p>
		</div>
		<div ng-if="route.satisfaction >= 50">
			<p><i class="icon ion-happy-outline"></i> {{route.satisfaction}} points</p>
		</div>
		<button class="button button-block icon ion-share button-royal" ng-click="shareExperience(route)">
			Share Postcard
		</button>
	</ion-item>
    </div>
  </ion-content>
</ion-view>

