body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

/* Empty. Add your own CSS if you like */

/*.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/


.task_textarea {
		border: solid;
		border-width: 1px;
		border-color: #aaa;
		width: 100%;
		padding: 10px;
}
